basePath: /
definitions:
  handlers.userResponse:
    properties:
      email:
        type: string
      name:
        type: string
      surname:
        type: string
      user_type:
        type: string
      uuid:
        type: string
    type: object
  models.ApiError:
    properties:
      error:
        type: string
    type: object
externalDocs:
  description: OpenAPI
  url: https://swagger.io/resources/open.api/
host: api.ozinshe.com
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: this is a Educational Application project
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: EdTech API
  version: "1.0"
paths:
  /core/V1/user/profile:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/handlers.userResponse'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiError'
      summary: Get All Users
      tags:
      - users
    post:
      consumes:
      - application/json
      parameters:
      - description: User_Name
        in: query
        name: name
        required: true
        type: string
      - description: User_Surname
        in: query
        name: surname
        required: true
        type: string
      - description: Email
        in: query
        name: email
        required: true
        type: string
      - description: User_Type
        in: query
        name: type
        required: true
        type: string
      - description: Password
        in: query
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            properties:
              uuid:
                type: string
            type: object
        "400":
          description: Invalid Payload
          schema:
            $ref: '#/definitions/models.ApiError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiError'
      summary: Create User
      tags:
      - users
  /core/V1/user/profile/{uuid}:
    delete:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Invalid user uuid
          schema:
            $ref: '#/definitions/models.ApiError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiError'
      summary: Delete User
      tags:
      - users
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handlers.userResponse'
        "400":
          description: Invalid user uuid
          schema:
            $ref: '#/definitions/models.ApiError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiError'
      security:
      - Bearer: []
      summary: Find By Id
      tags:
      - users
    put:
      consumes:
      - application/json
      parameters:
      - description: User Name
        in: query
        name: name
        required: true
        type: string
      - description: User Surname
        in: query
        name: surname
        required: true
        type: string
      - description: Email
        in: query
        name: email
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Invalid user uuid
          schema:
            $ref: '#/definitions/models.ApiError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiError'
      summary: Update User
      tags:
      - users
  /core/V1/user/profile/{uuid}/activate:
    patch:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Invalid user uuid
          schema:
            $ref: '#/definitions/models.ApiError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiError'
      summary: set user status to active
      tags:
      - users
  /core/V1/user/profile/{uuid}/changePassword:
    patch:
      consumes:
      - application/json
      parameters:
      - description: Password
        in: query
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Invalid user uuid
          schema:
            $ref: '#/definitions/models.ApiError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiError'
      summary: ChangePassword User
      tags:
      - users
  /core/V1/user/profile/{uuid}/deactivate:
    patch:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Invalid user uuid
          schema:
            $ref: '#/definitions/models.ApiError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ApiError'
      summary: set user status to inactive
      tags:
      - users
swagger: "2.0"
